<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Tableau de bord</h1>
<div class="container">
    <div class="row">
    <div class="container1 col-md-3" style="margin: 4px">
        <div class="spotify1 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
            <h1 class="container1"><img src="../../../assets/img/spotifylarge.png" style="padding-right: 5%">Spotify</h1>
            <p class="container1">Ajout des nouveaux tracks de vos artistes suivis dans une playlist</p>
        </div>
    </div>
    <div class="container1 col-md-3" style="margin: 4px">
        <div class="spotify2 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
            <h1 class="container1"><img src="../../../assets/img/spotifylarge.png" style="padding-right: 5%">Spotify</h1>
            <p class="container1">Mise à jour d'une playlist</p>
        </div>
    </div>
    <div class="container2 col-md-3" style="margin: 4px">
        <div class="twitch1 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
            <h1 class="container2"><img src="../../../assets/img/twitchlarge.png" style="padding-right: 5%">Twitch</h1>
            <p class="container2">Nouvel abonnement à votre profil !</p>
        </div>
        </div>
    </div>
    <div class="row">
            <div class="container3 col-md-3" style="margin: 4px">
                <div class="reddit1 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container3"><img src="../../../assets/img/redditlarge.png" style="padding-right: 5%">Reddit</h1>
                    <p class="container3">Nouveau clip sur SmashBrosUltimate mis en ligne !</p>
                </div>
            </div>
            <div class="container3 col-md-3" style="margin: 4px">
                <div class="reddit2 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container3"><img src="../../../assets/img/redditlarge.png" style="padding-right: 5%">Reddit</h1>
                    <p class="container3">Upvote le commentaire du user qui a répondu</p>
                </div>
            </div>
            <div class="container3 col-md-3" style="margin: 4px">
                <div class="reddit3 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container3"><img src="../../../assets/img/redditlarge.png" style="padding-right: 5%">Reddit</h1>
                    <p class="container3">Upvote un top post des subreddits que vous suivez</p>
                </div>
                </div>
    </div>
    <div class="row">
            <div class="container4 col-md-3" style="margin: 4px">
                <div class="steam1 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container4"><img src="../../../assets/img/steam.png" style="padding-right: 5%">Steam</h1>
                    <p class="container4">Nouvel item dans l'inventaire</p>
                </div>
            </div>
            <div class="container4 col-md-3" style="margin: 4px">
                    <div class="steam2 col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                        <h1 class="container4"><img src="../../../assets/img/steam.png" style="padding-right: 5%">Steam</h1>
                        <p class="container4">News sur les jeux achetés</p>
                    </div>
                </div>
                <div class="container5 col-md-3" style="margin: 4px">
                        <div class="youtube1 col-md-12" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                            <h1 class="container5"><img src="../../../assets/img/youtube.png" style="padding-right: 5%">Youtube</h1>
                            <p class="container5">Vidéo succeptible de vous interresser mise en ligne !</p>
                        </div>
                    </div>
    </div>
</div>
