<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Tableau de bord</h1>
<div class="container">
    <div class="row">
    <div class="container1 col-md-3" style="margin: 4px">
        <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
            <h1 class="container1"><img src="../../../assets/img/spotifylarge.png" style="padding-right: 5%">Spotify</h1>
            <p class="container1">Ajoute l'album d'un artiste suivi dans une playlist</p>
        </div>
    </div>
    <div class="container1 col-md-3" style="margin: 4px">
        <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
            <h1 class="container1"><img src="../../../assets/img/spotifylarge.png" style="padding-right: 5%">Spotify</h1>
            <p class="container1">Mise à jour d'une playlist</p>
        </div>
    </div>
    <div class="container2 col-md-3" style="margin: 4px">
        <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
            <h1 class="container2"><img src="../../../assets/img/twitchlarge.png" style="padding-right: 5%">Twitch</h1>
            <p class="container2">Nouvel abonnement</p>
        </div>
        </div>
    </div>
    <div class="row">
            <div class="container3 col-md-3" style="margin: 4px">
                <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container3"><img src="../../../assets/img/redditlarge.png" style="padding-right: 5%">Reddit</h1>
                    <p class="container3">Nouveau top post</p>
                </div>
            </div>
            <div class="container3 col-md-3" style="margin: 4px">
                <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container3"><img src="../../../assets/img/redditlarge.png" style="padding-right: 5%">Reddit</h1>
                    <p class="container3">Nouvelle réponse à un commentaire</p>
                </div>
            </div>
            <div class="container3 col-md-3" style="margin: 4px">
                <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container3"><img src="../../../assets/img/redditlarge.png" style="padding-right: 5%">Reddit</h1>
                    <p class="container3">yes</p>
                </div>
                </div>
    </div>
    <div class="row">
            <div class="container4 col-md-3" style="margin: 4px">
                <div class="col-md-11" style="padding-top: 5%; padding-left: 30px; padding-bottom: 30px">
                    <h1 class="container4"><img src="../../../assets/img/steam.png" style="padding-right: 5%">Steam</h1>
                    <p class="container4">Nouveau jeu dans le panier</p>
                </div>
            </div>
    </div>
</div>
