.container1{
    background-color: #32CD32;
    border-radius: 25px;
}
.container2{
    background-color: blueviolet;
    border-radius: 25px;
}
.container3 {
    background-color: #FF5700;
    border-radius: 25px;
}
.container4 {
    background-color: #000000;
    border-radius: 25px;
}
h1 {
    color: white;
    font-size: 35px;
    font: "Arial";
    font-weight: bold;
}

p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font: "Arial"
}

.container5 {
    background-color: #cc181e;
    border-radius: 25px;
}